<%= form_with(model: match, local: true) do |form| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :matchtype %>
    <%= form.select :matchtype, ["Singles", "Doubles"] %>
  </div>
  <% tournament_array = Tournament.all.map { |t| [t.name] }%>

  <div class="field">
    <%= form.label :tournament_id %>
    <%= form.select :tournament_id, tournament_array %>
  </div>

  <% players_array = Player.all.map { |player| [player.name] }%>
  <h2>Players </h2>
  <% if params[:matchtype] == "Singles" %>
      <div class="field">
        <%= form.select :firstPlayer, players_array %>
      </div>
      <div class="field">
        <%= form.select :secondPlayer, players_array %>
      </div>
  <% else %>
      <div class="field">
        <%= form.select :firstPlayer, players_array %>
      </div>
      <div class="field">
        <%= form.select :secondPlayer, players_array %>
      </div>
      <div class="field">
        <%= form.select :thirdPlayer, players_array %>
      </div>
      <div class="field">
        <%= form.select :fourthPlayer, players_array %>
      </div>
  <% end %>

  <h2>Create </h2>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
